.subtotal {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* height: 100px; */
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.subtotal p {
  margin-bottom: 10px;
}
.subtotal input {
  margin-right: 10px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal > button {
  margin-top: 15px;
  padding: 5px;
  border-radius: 2px;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
}
